{{#if err}}
    Something went wrong...
{{/if}}

<form method="POST">
    <h2>PLEASE LOG IN</h2>
    <label for="email">Email Adress</label>
    <input name="email" />
    <label for="password">Password</label>
    <input name="password" />
    <button>Log in</button>

</form>