<form method="POST">
    <h2>YOUR SIGNATURE 🖊</h2>
    <input name="sig" id="hidden-input" type="hidden" value="" />
    <canvas id="canvas" width="500" height="200"></canvas>
    <button class="submit" type="submit">Submit!</button>
</form>