<form method="POST">
    <h2>NOW PLEASE TELL US JUST A LITTLE BIT MORE ABOUT YOURSELF 🖤 </h2>
    <label for="age">Age</label>
    <input name="age" />
    <label for="city">City</label>
    <input name="city" />
    <label for="url">Homepage</label>
    <input name="url" />
    <button>Continue</button>

</form>