{{#if err}}
    Something went wrong...
{{/if}}

<form method="POST">
    <h2>SIGN OUR PETITION TO SUPPORT THE FOUR-DAYS WORK WEEK!</h2>
    <label for="first">First Name</label>
    <input name="first" />
    <label for="last">Last Name</label>
    <input name="last" />
    <label for="email">Email Adress</label>
    <input name="email" />
    <label for="password">Password</label>
    <input name="password" />
    <button>Sign up</button>
    <p>If you are already a member, please
        <a href="/login">log in.</a></p>
</form>