<form method="POST" action="/signature/delete">
    <h2>THANKS FOR YOUR SUPPORT! 😊 </h2>
    <img src="{{signature}}" alt="" />
    <a href="/signers">Signers page</a>
    <button>Delete sig!</button>
    <a href="/profile/edit">Edit your profile</a>
</form>